.main-contrainer {
   
    margin-left: 530px; 
    width: 380px;
    background: #FFFFFF;
    box-shadow: 0px -10px 24px rgba(15, 13, 35, 0.06);

}


.container {
    background-image: url(../../Images/Ellipse\ 83.png);
    background-repeat: no-repeat;
    
     /* justify-content: center;  */

    width: 600px; 
    height: 360px;

}

 .header-fixed {

    display: flex;
    justify-content: center;
    align-items: center;

} 

.header-img {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 30px;
    left: 550px; 
    border-radius: 52px;
}

.header-text h1 {

    width: 58px;
    height: 24px;
    margin-right: 80px;
    margin-top: 15px;
    font-family: 'Tatsam Bengali Rnd';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 35px;
    color: #F2F2F2;
}

.header-text p {

    width: 74px;
    height: 24px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    color: #F2F2F2;

}

.sub-contrainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.sub-contrainer button {
    margin-right: 150px;
    height: 40px;
    width: 108px;
    background: #C7D3F3;
    border: 4px solid #E9EFFF;
    border-radius: 53px;
}

.caontainer-point {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    width: 340px;
    margin-top: -230px;
    margin-left: 20px;
    border-radius: 16px;
    padding: 25px;
    border: 1px solid rgb(234, 241, 234);
    background-color: #FFFFFF;
    box-shadow: 10px 24px 54px 0px hsla(245, 46%, 9%, 0.04);

}

.text-point h1 {
    width: 137px;
    height: 20px;
    margin-right: 20px;
    font-family: 'Tatsam Bengali Rnd';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #2C2C2C;
}

.text-point p {
    width: 119px;
    height: 20px;

    font-family: 'Tatsam Bengali Rnd';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 20px;
    color: #666666;
    opacity: 0.55;
}

.slider {


    margin: 10px;

    width: 330px;
    height: 360px;

}

.card-container {
    margin-left: 4px;
    width: 360px;


}

.card-header {

    margin-top: -190px;
    margin-left: 10px;
    width: 189px;
    height: 23px;

    font-family: 'Tatsam Bengali Rnd';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    color: #0C092A;

}

.card {

    height: 92px;
    width: 98px;
    margin-left: 15px;
    margin: 10px;
    background: #F2F7FF;
    border-radius: 10px;

}

.card img {
    height: 38px;
    width: 38px;
    margin: 4px;
    margin-left: 20px;
}

.card p {
    font-family: 'Tatsam Bengali Rnd';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;

    color: #636469;

}

.footer-contrainer {

    width: 380px;

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px -10px 24px rgba(15, 13, 35, 0.06);


}

@media screen and (max-width:768px) {
    .main-contrainer {

        display: block;




    }


}